/*--------------------------------------- TRANSITIONS */

.appear-enter {
  transition-duration: .7s;
  transition-property: opacity;
  transition-timing-function: ease-out;
  opacity: 0;
}

.appear-enter.appear-enter-active {
  opacity: 1;
}

.appear-leave {
  opacity: 0;
}

/*--------------------------------------- MAIN STYLES */


body {
  color: #666;
  background: #222 url('../img/bg.jpg') center;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.navigation {
  display: flex;
  justify-content: flex-end;
}

.navigation div {
  margin: 0 20px;
}

.galleries {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.galleries div {
  margin: 10px;
  background-color: #666;
}

.image {
  height: 220px;
  width: auto;
}

h1 {
  margin-top: 2em;
}
