* {
  /*border: 1px solid #ccc;*/
}

/*--------------------------------------- TRANSITIONS */

.appear-enter {
  transition-duration: .7s;
  transition-property: opacity;
  transition-timing-function: ease-out;
  opacity: 0;
}

.appear-enter.appear-enter-active {
  opacity: 1;
}

.appear-leave {
  opacity: 0;
}

/*--------------------------------------- MAIN STYLES */

body {
  color: #666;
  background: #222 url('../img/bg2.jpg');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  font-family: 'Poiret One', 'Arial';
}

a {
  text-decoration: none;
  color: #666;
}

.navigation {
  position: fixed;
  margin-top: 10px;
  margin-right: 1%;
  width: 30%;
  right: 0;
  display: inline-flex;
  justify-content: flex-end;
}

.categories {
  position: fixed;
  margin-top: 10px;
  margin-left: 0.5%;
  width: 70%;
  display: inline-flex;
  justify-content: flex-start;
}

.active {
  color: #eee;
}

.menuItem {
  padding: 1vw;
  margin: 10px;
  font-size: 1vw;
}

.menuItem:hover {
  color: #eee;
}

.imageContainer {
  display: inline-block;
  height: 40vw;
  width: auto;
}

.imageContainer:last-child {
  margin-right: 20vw;
}

.image {
  width: auto;
  height: 100%;
  margin-left: 2vw;
  border: 1px solid #444;
}

h1 {
  margin: 2vw;
  color: #aaa;
  font-size: 2.5em;
}

.scrollContainer {
  margin-top: 100px;
  position: fixed;
}

.scroll-horizontal {
  overflow: visible !important;
  position: fixed !important;
}

.about, .contact, .login {
  width: 30%;
  margin: 12% auto;
  text-align: center;
}

.about h1, .contact h1, .login h1 {
  display: inline-block;
}

.about p, .contact p, .login form {
  margin: 10px auto;
}

.facebookButton {
  position: fixed;
  margin-left: 2vw;
  margin-top: 48%;
}

.twitterButton {
  position: fixed;
  margin-left: 4vw;
  margin-top: 48%;
}

.login form input,
.login form button {
  padding: 5px;
  margin: 5px;
  font-size: .9em;
  display: inline-block;
  background-color: #eee;
  border: none;
}

.adminLogo {
  position: relative;
}

.admin {
  position: relative;
  width: 90%;
  margin-top: 50px;
  margin-left: 2vw;
  background-color: #eee;
  padding: 2vw;
}

.field {
  padding: 5px;
  border: none;
}

.admin textarea {
  width: 50%;
  min-height: 5vw;
}

h3 {
  margin: 15px 0 2px;
}

.thumbContainer {
  /*width: 90%;*/
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.thumb {
  height: 60px;
  width: auto;
  margin: 5px;
}

hr {
  height: 1px;
  background-color: #ccc;
  color: #ccc;
  border: none;
}


@media screen and (max-width: 777px) and (orientation:landscape) {

  .navigation, .categories {
    margin-top: 55px;
  }

  .navigation div, .categories div {
    font-size: 1.5vw;
  }

  .scroll {
    margin-top: 95px;
  }

  .imageContainer {
    height: 38vw;
  }

  .catName {
    width: 300px;
  }

}

@media screen and (max-width: 450px) and (orientation:portrait) {

  .navigation div, .categories div {
    font-size: 2vw;
  }

  .imageContainer {
    height: 50vw;
  }

}
